{% extends "base.html" %}
{% block title %}Container Management{% endblock %}
{% block content %}
<h2>Containers and Scheduling</h2>
<script>
function containerDelete(event) {
    event.preventDefault();
    var $form = $( this ),
        container_id = $form.find("input[name='container_id']").val(),
        container_name = $form.find("input[name='container_name']").val();

    if (confirm('Really delete Container #' + container_id + ' (' + container_name + ')?' )) {

        api.remove('container', container_id).then(function(res) {
            $('#container'+container_id+'Row').fadeOut(600, function(){
                $('#container'+container_id+'Row').remove();
            });
        })
            .catch((reason) => console.log(reason));
    }
}
function containerSet(event) {
    event.preventDefault();
    var $form = $( this ),
        container_id = $form.find("input[name='container_id']").val(),
        container_action = $form.find("input[name='container_action']").val();

    if (confirm('Really ' + container_action + ' Container #' + container_id + '?' )) {

        api.update('containers', {
            id: container_id,
            status: container_action
        }).then(function(res) {
            console.log(res);
            const new_status = {
                'start': 'Running',
                'stop': 'Stopped',
                'restart': 'Running',
                'freeze': 'Frozen',
                'unfreeze': 'Running'
            };
            $('#container' + container_id + '-status').text(new_status[container_action]);
            const new_actions = {
                'Running': ['stop', 'freeze', 'restart'],
                'Stopped': ['start'],
                'Frozen': ['unfreeze', 'stop']
            }
            Object.keys(new_status).forEach(itm => {
                const sid = '#container' + container_id + itm + 'Submit';
                if (new_actions[new_status[container_action]].includes(itm)) {
                    console.log('Unhiding ' + sid)
                    $(sid).show();
                } else {
                    console.log('Hiding ' + sid)
                    $(sid).hide();
                }
            });
        })
            .catch((reason) => console.log(reason));
    }
}
</script>

<strong>Create new Container</strong>
<form action="/" id="containerNewForm">
    <input type="hidden" name="container_creator" value="{{ session_data.user.id }}">
	<table>
{% if session_data.user.is_super_admin %}
<tr><th>Image:</th><td><select name="container_image">
            {% for image in images %}
            <option value="{{image.fingerprint}}">{{image.aliases[0]['name'] if image.aliases|count > 0 else image.properties['description'] }}</option>
            {% endfor %}
        </select></td>
{% endif %}
		<tr><th>Name:</th><td><input name="container_name"></td></tr>
		<tr><th>Host:</th><td>
                        <select name="container_host">
                            {% for host in content.hosts %}
                            <option value="{{host.id}}">{{host.name}}</option>
                            {% endfor %}
                        </select>
                </td></tr>
		<tr><th>Users:</th><td>
                        <select multiple name="container_users">
                            {% for user in session_data.user.group.group_members %}
                            <option value="{{user.id}}">{{user.username}}</option>
                            {% endfor %}
                        </select>
                </td></tr>
		<tr><td></td><td><input type="submit"></td></tr>
	</table>
</form>
<script>
$('#containerNewForm').submit(function(event) {
    event.preventDefault();
    var $form = $( this ),
        container_image = $form.find("select[name='container_image']").val(),
        container_name = $form.find("input[name='container_name']").val(),
        container_host = $form.find("select[name='container_host']").val(),
        container_creator = $form.find("input[name='container_creator']").val(),
        container_users = $form.find("select[name='container_users']").val();

    container_host = parseInt(container_host);
    container_creator = parseInt(container_creator);
    container_users = container_users.map(x => parseInt(x));

    container_users = container_users.map(x => ({
        id: x,
        type: 'users'
    }));

    var data = {
        name: container_name,
        'creator': {
            'id': container_creator,
            'type': 'users'
        },
        'host': {
            'id': container_host,
            'type': 'hosts'
        },
        'users': container_users
    };

    if (container_image != null) {
        data['image'] = container_image;
    }

    api.create(
        'container', data
    ).then(res => {
        console.log(res);

//        var new_id = res['data']['id'];
//
//        container_users.forEach((itm, idx) => {
//            api.update('containers', {
//                id: new_id,
//                user: {
//                    id: itm,
//                    type: "users"
//                }
//            }).then((res) => console.log(res))
//            .catch((reason) => console.log(reason));
//        });
    }).catch((reason) => console.log(reason));

});

</script>

<h3>Containers</h3>
<table>
    <tr><th>Name</th><th>Host</th><th>Status</th></tr>
{% for c in content.containers %}
<tr id="container{{c.id}}Row"><td>{{c.name}}</td><td>{{c.host.name}}</td><td id="container{{c.id}}-status">{{c.lxc().status}}</td>
{% if c.is_writeable_for(session_data.user) %}
<td>
<form id="container{{c.id}}DeleteForm">
<input name="container_id" hidden="true" value="{{c.id}}">
<input name="container_name" hidden="true" value="{{c.name}}">
<input type="submit" value="Delete Container">
</form>
</td>
<script>
$('#container{{c.id}}DeleteForm').submit(containerDelete);
</script>
<td>
{% for action in ['start', 'stop', 'restart', 'freeze', 'unfreeze'] %}
<form id="container{{c.id}}{{action}}Form">
<input name="container_id" hidden="true" value="{{c.id}}">
<input name="container_action" hidden="true" value="{{action}}">
<input id="container{{c.id}}{{action}}Submit" type="submit" value="{{action}} Container">
</form>
<script>
$('#container{{c.id}}{{action}}Form').submit(containerSet);
{% if not action in c.actions() %}
$('#container{{c.id}}{{action}}Submit').hide();
{%endif%}
</script>
{% endfor %}
</td>
</tr>
{% endif %}
{% endfor %}
</table>

<h3>Scheduling</h3>

Resource Utilization:

<table>
    <tr><th>Host</th><th>RAM</th><th>CPU</th><th>Utilisation</th>
{% for host in content.hosts %}
{% set util = host.calc_utilisation() %}
<tr><td>{{host.name}}</td><td>{{util['ram_demand']}} / {{host.nram}}</td><td>{{util['cpu_demand']}} / {{host.ncpu}}</td><td>{{util['utilisation']*100}}%</td></tr>
{% endfor %}
</table>

Current slots:

<table>
<tr><th>Host / Container</th><th>CPU</th><th>RAM</th><th>Hours (Used/Total)</th></tr>
{%for slot in content.slots %}
<tr><td>{{slot.host.name}} / {{slot.container.name}}</td><td>{{slot.ncpu}}</td><td>{{slot.nram}}</td><td>{{slot.hours_used}} / {{slot.hours}}</td></tr>
{%endfor %}
</table>

Schedule:

<form id="scheduleForm">
<table>
    <tr><th>Container</th><td>
            <select name="container_id">
{% for c in content.containers %}
<option value="{{c.id}}">{{c.name}}</option>
{% endfor %}
            </select>
        </td></tr>
        <tr><th>Size</th><td>
            <select name="instance_id">
{% for i in instances %}
<option value="{{i.name}}">{{i.name}} ({{i.cpu}} Cores, {{i.ram}}GB RAM)</option>
{% endfor %}
            </select>
        <tr><th>Host:</th><td>
            <select name="container_host">
                {% for host in content.hosts %}
                <option value="{{host.id}}">{{host.name}}</option>
                {% endfor %}
            </select>
        </td></tr>
        </td></tr>
        <tr><th>Hours</th><td><input name="hours" value="10"></input></td></tr>
        <tr><td><input type="submit"></td></tr>
</table>
</form>
<script>
$('#scheduleForm').submit(function(event) {
    event.preventDefault();
    var $form = $( this ),
        container_id = $form.find("select[name='container_id']").val(),
        container_host = $form.find("select[name='container_host']").val(),
        instance_id = $form.find("select[name='instance_id']").val(),
        hours = $form.find("input[name='hours']").val();

    const data = {
        hours: hours,
        instance: instance_id,
        'host': {
            'id': container_host
        },
        'container': {
            'id': container_id
        },
    };

    api.create(
        'slot', data
    ).then(res => {
        console.log(res);

//        var new_id = res['data']['id'];
//
//        container_users.forEach((itm, idx) => {
//            api.update('containers', {
//                id: new_id,
//                user: {
//                    id: itm,
//                    type: "users"
//                }
//            }).then((res) => console.log(res))
//            .catch((reason) => console.log(reason));
//        });
    }).catch((reason) => console.log(reason));
});
</script>

{% endblock %}
