{%extends "base.html" %}
{% block title %}Hello{% endblock %}
{% block content %}
<h1>Setup</h1>
<h2>Populate DB</h2>
<div>
	{% if populated %}
	DB is populated. Delete DB if you want to start over.
	{% else %}
        <form method="post" action="{{url_for('db_populate')}}">

		<input type="submit" value="Populate DB" />
	</table>
	</form>
	{% endif %}

</div>
<h2>Host Authentication</h2>

To authenticate with an LXC host, the client certificate needs to be accepted by the host.

Unauthenticated Hosts:
{% for host in content.hosts|selectattr('lxc_trusted') %}
{% if loop.index0 > 0 %}, {% endif %}{{host.name}}
{% endfor %}

Enter LXC trust password here to attempt LXC authentication with all unauthenticated hosts:

<form method="POST" action="{{url_for('lxc_trust')}}">
<table>
    <tr><th>Trust Password</th><td><input type="password" name="trust_pw"></td></tr>
    <tr><th>Submit</th><td><input type="submit"></tr>
</table>
</form>


<h2>Container Templates</h2>
<div>
    Select a running container to provision as new template (<a href="{{url_for('if_containers')}}">Or create one first</a>)
    <form method="post" action="{{url_for('container_provision')}}">
    <table>
        <tr>
            <th>Container</th>
            <td>
                <select name="container_id">
                    {% for c in content.containers %}
                    {% if c.creator.is_super_admin and c.status == 'Running' %}
                    <option value="{{c.id}}">{{c.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="Submit" value="Provision">
        </tr>
    </table>
    </form>
    Existing Templates:
    <table>
        <tr><th>Name</th><th>Description</th><th>Date provisioned</th></tr>
        {% for image in images %}
        {% if image.aliases|count > 0 and image.aliases[0]['name'].startswith('lxtemplate') %}
        <tr><td>{{image.aliases[0]['name']}}</td><td>{{image.properties['description']}}</td><td>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}
